/*
 Mobile devices – 320px — 480px. 
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px
*/

@media screen and (min-width:581px) and (max-width:768px){
    body{
        background-image: linear-gradient(to bottom, rgb(78, 31, 70), rgb(17, 17, 17)70%);
    }
    section#login{
        
        width: 80vw;
    }
    section#login >div#imagens{
        float: left;
        width: 40%;
        height: 100%;
    }
    section#login >div#formulario{
        float: right;
        width: 60%;
    }
}