/* paleta de cores
 azul - #49a09d
 roxo - #sf2c82
*/


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative; 
    height: 100vh;
    width: 100vw;
    
}

section#login{
    position: absolute;
    background-color: antiquewhite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.767);

    overflow: hidden;
    height: 610px;
    width: 300px;
    border-radius: 20px;
    
}

h1{
    text-align: center;
    font-size: 2em;
}

p{
    margin: 10px 0px;
}
form{
    display: block;
    margin: auto;
}

div#imagens{
    background: rebeccapurple url(../imagem/pexels-essow-k-936722.jpg);
    
    height: 250px;
    background-position: left bottom;
    background-size: cover;
}

div#formulario{
    padding: 10px;
    
}
label{
    display: none;
}

.campo{
    display: block;
    width: 100%;
    
}
#icon{
    border-radius: 5px;
    color: white;
    background-color: rgb(41, 214, 236);
    width: 40px;
    padding: 11px 10px;
    font-size: 1.4em;
}
.texto{
    margin-top: 10px;
    width:calc(100% - 50px);
    padding: 10px;
    border-radius: 10px;
    transform:translateY(-5px) ;
}

.botao{
    display: block;
    border: 2px solid black;
    background-color: rgb(64, 64, 250);
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    
    text-align: center;
    text-transform: uppercase;
    transition: .10s;
}

.botao:hover{
    background-color: blue;
   
}

.entrar{
    display: block;
    border: 2px solid black;
    background-color: rgb(250, 250, 252);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    transition: 1.0s;
    margin-bottom: 5px;
}

.entrar:hover{
    background-color: rgb(57, 57, 250);
    color: white;   
}