/* paleta de cores
 azul - #49a09d
 roxo - #sf2c82
*/


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative; 
    height: 100vh;
    width: 100vw;
    
}

section#login{
    position: absolute;
    background-color: antiquewhite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.767);

    overflow: hidden;
    height: 450px;
    width: 300px;
    border-radius: 20px;
}

div#imagens{
    background: rebeccapurple url(../imagem/pexels-essow-k-936722.jpg);
    
    height: 250px;
    background-position: left bottom;
    background-size: cover;
}

div#formulario{
    padding: 10px;
    
}
